@using PortfolyoSitem.Data
@model ContactTable
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div id="section-iletisim" class="page-section" >
    <div class="toolbar">
        <button class="btn btn-add">
            <i class="fa-solid fa-plus"></i> Yeni İletişim Bilgisi Ekle
        </button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th style="width: 50px;">Id</th>
                    <th>Açıklama</th>
                    <th>Email Adres</th>
                    <th>LinkedIn Url</th>
                    <th>GitHub Url</th>
                    <th>Instagram Url</th>
                    <th style="width: 180px;">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ContactId</td>
                    <td>
                        @Model.ShortDescription
                    </td>
                    <td>@Model.EmailAdress</td>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @Model.LinkedlnUrl
                    </td>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @Model.GithubUrl
                    </td>
                    <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @Model.InstagramUrl
                    </td>
                    <td>
                        <div class="action-buttons">
                            <button class="btn btn-sm btn-edit">
                                <i class="fa-solid fa-pen"></i>
                                Güncelle
                            </button>
                            <button class="btn btn-sm btn-delete">
                                <i class="fa-solid fa-trash"></i>
                                Sil
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
