@using PortfolyoSitem.Data
@model List<ContactTable>
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div id="section-iletisim" class="page-section" >
    <div class="toolbar">
        <a href="/AdminContact/CreateContact"
           class="btn btn-add">
            <i class="fa-solid fa-plus"></i> Yeni İletişim Bilgisi Ekle
        </a>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th style="width: 50px;">Id</th>
                    <th>Açıklama</th>
                    <th>Email Adres</th>
                    <th>LinkedIn Url</th>
                    <th>GitHub Url</th>
                    <th>Instagram Url</th>
                    <th style="width: 180px;">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ContactId</td>
                        <td>
                            @item.ShortDescription
                        </td>
                        <td>@item.EmailAdress</td>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            @item.LinkedlnUrl
                        </td>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            @item.GithubUrl
                        </td>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            @item.InstagramUrl
                        </td>
                        <td>
                            <div class="action-buttons">
                                <a href="/AdminContact/UpdateContact/@item.ContactId"
                                   class="btn btn-sm btn-edit">
                                    <i class="fa-solid fa-pen"></i> Güncelle
                                </a>

                                <a href="/AdminContact/DeleteContact/@item.ContactId"
                                   class="btn btn-sm btn-delete"
                                   onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?')">
                                    <i class="fa-solid fa-trash"></i> Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
